<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Adminsitradora Chasafran - Administradora de Condominios Santa Paula, Estado Miranda">
<meta name="keywords" content="administradora de condominio, administradora chasafran, administradora santa paula, administradora estado miranda">
<meta name="author" content="pronet21.com">
<link rel="shortcut icon" href="images/favicon/favicon.png" type="image/png">
<link rel="icon" href="images/favicon/favicon.png" type="image/png">
<title>{{constant('TITULO')}}</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/lib/font-awesome.css" rel="stylesheet">
<link href="css/lib/zocial.css" rel="stylesheet">
<!-- VENOBOx CSS -->
<link rel="stylesheet" href="css/lib/venobox.css" type="text/css" />
<!-- EXPANDING THUMBNAIL CSS -->
<link rel="stylesheet" href="css/lib/og-component.css" type="text/css" />
<!-- ANIMATED CSS -->
<link href="css/lib/animate.css" rel="stylesheet">
<!-- STYLE CSS -->
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
@font-face {
font-family: 'tiza';
src: url('fonts/crayon_crumble.ttf') format('truetype');
}
.letra-pizarra {
font-family: 'tiza';
font-size: 60px;
}
</style>
<link id="clscheme" href="css/scheme/light-red.css" rel="stylesheet">
<script src="js/lib/modernizr.custom.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.administradorachasafran.com.ve",
  "name": "Administradora Chasafran",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "(0212)987 7732",
    "contactType": "Atención al Cliente"
  }
}
</script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
<link href="demo-asset/css/style.css" rel="stylesheet" type="text/css">
<!--div class="cos-wrapper">
<div class="cos-trigger">
<i class="fa fa-sign-in" style="font-size: 24px;"></i>
</div>
<div class="cos-body">
<div id="login-box" class="well no-padding box" style="border:10px solid #e3e3e3;">
<form class="smart-form client-form" id="login-form" action="login.php" novalidate="novalidate" method="post">
<header style="color: #a90329; font-weight: 400">
Acceso Área de Propietarios
</header>
<fieldset>
<section>
<label class="label">Usuario</label>
<label class="input"> <i class="icon-append fa fa-user"></i>
<input type="cedula" name="cedula">
</label>
</section>
<section>
<label class="label">Clave</label>
<label class="input"> <i class="icon-append fa fa-lock"></i>
<input type="password" name="password">
</label>
<br>
<div class="note">
<a class="forgot forgot-link" href="javascript:void(0)">¿Olvidó sus datos de acceso?</a>
</div>
</section>
<section>
</section>
</fieldset>
<footer>
<button class="btn btn-default" type="submit" name="submit">
Entrar
</button>
</footer>
</form>
</div>
    
<div id="forgot-box" class="well no-padding box" style="border:10px solid #e3e3e3; display: none">
<form class="smart-form client-form" id="forgot-form" action="login.php" novalidate="novalidate" method="post">
<header style="color: #a90329; font-weight: 400">
Obtener datos de acceso
</header>
<fieldset>
<section>
<label class="label">Correo Electrónico</label>
<label class="input"> <i class="icon-append fa fa-envelope"></i>
<input type="text" name="email" class="required email">
<small>Email registrado en el sistema</small>
</label>
</section>
<section>
<div class="note">
<a href="javascript:void(0)" class="forgot forgot-back"><i class="fa fa-arrow-left"></i> Regresar</a>
</div>
</section>
</fieldset>
<footer>
<button class="btn btn-default" type="submit" name="submit">
Solicitar
</button>
</footer>
</form>
</div>
</div>
</div-->
<!-- END Costumize -->
<!-- BEGIN OUTTER -->
<div class="outter">
<!---->
<!-- BEGIN NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Barra de Navegación</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
    <a class="navbar-brand" href="#">
        <img src="images/logo-top-white.png" alt="Administradora Chasafran" style="float:left">
        <span>Soluciones Administrativas Chasafran C.A.
            <br><small style="font-size:75%">Rif. J-40612419-2</small>
        </span>
    </a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a class="sscroll" href="#slides">Inicio</a>
</li>
<li><a class="sscroll" href="#about">Nuestra Empresa</a>
</li>
<li><a class="sscroll" href="#services">Servicios</a>
</li>
<li><a class="sscroll" href="#contact">Contacto</a>
</li>
<li><a class="sac-en-linea">Condominio en Línea</a></li>
<!--li><a class="sac-en-linea" data-toggle="modal" data-target="#mensaje-temp">Condominio en Línea</a></li-->
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
<!-- END NAVBAR -->
<!-- BEGIN SLIDER ONE -->
<div id="slides" id="top">
<ul class="slides-container text-center">
<li>
    <!-- Slide -->
    <img src='{{constant('ROOT')}}images/home-slide-1.jpg' alt="" class="fullscreen-image" />
    <div class="header-center fade-in">
        <h1><span>Soluciones Administrativas Chasafran, C.A.</span>
            Rif. J-40612419-2
        </h1>
        <p>La mejor opción como Administradora de condominios</p>
        <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a></p>
    </div>
</li>
<li>
    <!-- Slide -->
    <img src='{{constant('ROOT')}}images/home-slide-2.jpg' alt="" class="fullscreen-image">
    <div class="header-center fade-in">
        <h1>Administradora <span>Chasafran</span></h1>
        <div class="contrast">
        <p>Servicio de Administración de Condominio. Atención Personalizada, Cobranzas, Contabilidad y muchos más</p>
        </div>
        <p><a class="sscroll slider-more" href="#services"><i class="fa fa-angle-down"></i></a>
        </p>
    </div>
</li>
<li>
    <!-- Slide -->
    <img src='{{constant('ROOT')}}images/home-slide-3.jpg' alt="" class="fullscreen-image" />
    <div class="header-center fade-in">
        <h1><span>Condominio en Línea</span></h1>
        <p>Acceda desde su computador, tablet o teléfono móvil. Efectúe consultas y
        operaciones sobre su cuenta de condomino con comodidad y rapidez.</p>
        <p><a class="sscroll slider-more sac-en-linea" href="#"><i class="fa fa-angle-down"></i></a>
    </div>
</li>
</ul>
<nav class="slides-navigation">
<a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
<a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
</nav>
</div>
<!-- END SLIDER ONE -->

<!-- BEGIN CONTENT SECTION -->
<div class="section-outter">
<!-- BEGIN ABOUT  -->
<section id="about">
<div class="section-wrapper">
<div class="section-title">
<h2 class="title animatez" data-effect="fadeInDown">¿Quiénes Somos?</h2>
<h4 class="subtitle animatez" data-effect="fadeInUp">Experiencia, Responsabilidad y
<span class="main-color">Honestidad</span>&nbsp;</h4>
</div>
<hr class="title-break">
<div class="section-inner">
<div class="container"><div class="row">
<div class="col-sm-12 mg-sm animatez" data-effect="fadeInUp">
<h3>
<strong>Reseña Histórica</strong>
</h3>
<p>Nace el 5 de junio del 2015, como una empresa familiar dedicada a la Administración de Condominios y demás gestiones del mismo ramo.</p>
<p>El objetivo es prestar un servicio, donde nuestra amplia trayectoria tiene como finalidad satisfacer las necesidad de nuestra clientela en todas las áreas que comprende la administración, brindando transparencia en todas las finanzas y una comunicación constante con la junta de condominio para cubrir las principales necesidades de la comunidad.</p>
<p>Contamos con un gran equipo de trabajo que gustosamente los atenderán brindándoles todo el apoyo que requieran./p>
<div class="spacer big"></div>
</div>

<div class="col-sm-6 mg-sm animatez" data-effect="fadeInUp">
<i class="fa fa-gears fa-5x main-color"></i>
<h3>
<strong>Nuestra Misión</strong>
</h3>
<p>Brindar servicios con la máxima eficiencia y transparencia, velando para que se respeten y se hagan respetar todos los derechos contemplados en las leyes de la administración de inmuebles; comprometidos con los condominios para que exista orden, paz, seguridad, igualdad y justicia en beneficio de ellos.</p>
</div>
<div class="col-sm-6 mg-sm animatez delay one" data-effect="fadeInUp">
<i class="fa fa-certificate fa-5x main-color"></i>
<h3>
<strong>Nuestra Visión</strong>
</h3>
<p>Ser líder por su capacidad de brindar
Apoyo en la administración de condominios, prestando un servicio de calidad adaptándonos a las necesidades de las comunidades.
</p>
</div>
</div>
</div>
</div>
<div class="spacer big"></div>
<div class="section-fill bg-parallax bg-about" style="background:url('images/bg-about.jpg');">
<div class="fill-wrapper">
<div class="section-title">
<h2 class="letra-pizarra white animatez" data-effect="fadeInDown">Soluciones Administrativas Chasafran, C.A.</h2>
<h4 class="subtitle letra-pizarra animatez" data-effect="fadeInUp">
<span class="main-color" style='font-size: 30px'>¿Es usted cliente? Le ofrecemos nuestro servicio de consultas en línea</span>
</h4>
<div class="spacer medium"></div>
<a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">Entrar a Condominio en Línea&nbsp;&nbsp;&rarr;</a>
</div>
</div>
</div>
</div>
</section>
<!-- END ABOUT -->

<!-- BEGIN SERVICES -->
<section id="services">
<div class="section-wrapper">
<div class="section-title">
<h2 class="title animatez" data-effect="fadeInDown">Nuestros Servicios</h2>
<h4 class="subtitle animatez" data-effect="fadeInUp">Si desea 
<span class="main-color">el servicio que usted se merece</span>&nbsp;somos su selección natural</h4>
</div>
<hr class="title-break">
<div class="section-inner">
<div class="container">
<div class="row">
<div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-building-o"></i>
</div>
<div class="left-content">
<h4>
<strong>Administramos su propiedad</strong>
</h4>
<p>Sistema integral de administración de condominio, especializado y capaz de cumplir con las exigencias del administrado en la zona donde reside,  nuestros servicios están enmarcados dentro de los ordinales del artículo Nº 20 de la Ley de Propiedad Horizontal.</p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-html5"></i>
</div>
<div class="left-content">
<h4>
<strong>Aplicación Web</strong>
</h4>
<p>Desde su Tablet, Smartphone o PC efectúe las principales operaciones en su cuenta: pago de condominio, consulta de deuda, consulta e impresión de avisos y recibos de condominio, actualice sus datos de contacto y más.</p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-briefcase"></i>
</div>
<div class="left-content">
<h4>
<strong>Cobranzas, contabilidad e información</strong>
</h4>
<p>Se entregara un listado de cuenta por cobrar semanal, con el objeto de mantener informada a la comunidad de la situación financiera de la misma, Estado de situación.</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-envelope-o"></i>
</div>
<div class="left-content">
<h4>
<strong>Información vía e-mail</strong>
</h4>
<p>Reciba en su cuenta de correo electrónico reportes e información sobre su cuenta de condominio: avisos de cobro, recibos de condominio, confirmación de pago de condominio y mucho más.</p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-users"></i>
</div>
<div class="left-content">
<h4>
<strong>Atención personalizada</strong>
</h4>
<p>Trato directo y personalizado con los propietarios, atenderemos todas sus sugerencias para la mejora del servicio y mantenimiento del Edificio o Residencia.</p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-credit-card"></i>
</div>
<div class="left-content">
<h4>
<strong>Depósitos a la vista</strong>
</h4>
<p>Los fondos del Edificio o Residencia son manejados a través de una cuenta corriente que abrirá a nombre del condominio. Esta cuenta puede ser manejada de las siguientes formas: <br>1.- Firmas conjuntas: La Administradora con un miembro de la Junta de Condominio<br>2.- Solo los miembros de la Junta de Condominio<br>3.- Firma solo La Administradora. </p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-cogs"></i>
</div>
<div class="left-content">
<h4>
<strong>Sistema de Facturación</strong>
</h4>
<p>Los propietarios reciben dentro de los primeros cinco (5) días de cada mes los avisos de cobro, los cuales deberán pagar en el transcurso del mismo, antes del día veinticinco (25). Se detallarán los diferentes conceptos de los gastos cobrados a la comunidad, el monto a pagar por el propietario, la deuda acumulada a la fecha, los cargos de interés de mora (sí es el caso), el Fondo de Reserva del Edificio y el Fondo de Prestaciones Sociales del Edificio o Residencia.</p>
</div>
</div>
</div>
<div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
<div class="left-icon">
<div class="icon">
<i class="fa fa-html5"></i>
</div>
<div class="left-content">
<h4>
<strong>Otros Servicios</strong>
</h4>
<p>Soluciones Gloricar C.A y Soluciones Tecnológicas Sanfran C.A, pertenecientes a un grupo de empresas de servicios, les ofrece outsourcing de mantenimiento y limpieza, personal de protocolo, remodelaciones, jardinería, plomería, electricidad, circuito cerrado tv, sistemas biométricos, cercados de seguridad, redes.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="spacer big"></div>
<!-- BEGIN SKILL -->
<div class="section-fill bg-parallax bg-skill" style="background-image: url(images/bg-service.jpg);">
<div class="fill-wrapper">
<div class="section-title">
<h2 class="white animatez" data-effect="fadeInDown">
<strong>Nuestras Habilidades</strong>
</h2>
<hr class="title-break">
</div>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="skill-bar">
<ul>
<li>
<div class="bar" data-value="90">
<h5>Servicio</h5>
</div>
<span>09 / 10</span>
</li>
<li>
<div class="bar" data-value="100">
<h5>Honestidad</h5>
</div>
<span>10 / 10</span>
</li>
<li>
<div class="bar" data-value="89">
<h5>Eficiencia</h5>
</div>
<span>8.9 / 10</span>
</li>
<li>
<div class="bar" data-value="81">
<h5>Atención Personalizada</h5>
</div>
<span>8.1 / 10</span>
</li>
<!-- STATIC ( NOT ANIMATED) SKILL BAR 
<li>
<div class="bar" style="width:100%;">
<h5>Branding</h5>
</div>
<span>10 / 10</span>
</li>
<li>
<div class="bar" style="width:85%;">
<h5>Elegant</h5>
</div>
<span>8.5 / 10</span>
</li>
<li>
<div class="bar" style="width:92%;">
<h5>Quality</h5>
</div>
<span>9.2 / 10</span>
</li>
<li>
<div class="bar" style="width:81%;">
<h5>Creative</h5>
</div>
<span>8.1 / 10</span>
</li>
-->
</ul>
</div>
</div>

<div class="col-md-6">
<div class="skill-bar">
<ul>
<li>
<div class="bar" data-value="100">
<h5>Transparencia</h5>
</div>
<span>10 / 10</span>
</li>
<li>
<div class="bar" data-value="95">
<h5>Asesoría</h5>
</div>
<span>9.5 / 10</span>
</li>
<li>
<div class="bar" data-value="88">
<h5>Oficina sin papel</h5>
</div>
<span>8.8 / 10</span>
</li>
<li>
<div class="bar" data-value="85">
<h5>Servicios electrónicos</h5>
</div>
<span>8.5 / 10</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- END SKILL -->
</div>
</section>
<!-- END SERVICES -->

<!-- BEGIN TEAM -->
<section id="team">
<div class="section-wrapper">
<!-- BEGIN VIDEO -->
<div class="section-fill">

<div class="video-wrapper">
<div class="bg-video" style="background:url('images/bg-video.jpg');"></div>
<div class="video-overlay"></div>
<div class="fill-wrapper">
<div class="section-title">
<h1 class="white animatez" data-effect="fadeInDown">
<strong>Ahora reportar</strong>&nbsp;su pago de condominio
</h1>
<h3 class="subtitle white animatez" data-effect="fadeInUp">
es más facil, desde su <strong>tablet, smartphone o computador</strong>
</h3>
<div class="spacer small"></div>
</div>
<div class="imac-wrapper animatez" data-effect="slideInDown">
<a class="sac-en-linea">
    <img src="{{constant('ROOT')}}images/imac.png" alt="" />
</a>
</div>
</div>
</div>
</div>
<!-- END VIDEO -->
</div>
</section>
<!-- END TEAM -->
<!-- BEGIN CONTACT -->
<section id="contact">
<div class="section-wrapper">
<div class="section-title">
<h2 class="title animatez" data-effect="fadeInDown">Dónde Ubicarnos</h2>
<h4 class="subtitle animatez" data-effect="fadeInUp">No dude en ponerse en contacto con nosotros.</h4>
<h3>
Av. Circunvalación del Sol, con Calle Géminis y Acuario, C.C. Santa Paula Nivel 1 Local 21
<br>Urb. Santa Paula, Municipio Baruta, Estado Miranda, Zona Postal 1061
</h3>
</div>
<hr class="title-break">
<div class="section-inner">
<div class="container">
<div class="row">

<div class="col-md-6 mg-sm animatez" data-effect="fadeIn">
<form role="form" class="text-left" id="contacto" novalidate="novalidate" method="POST">
<div class="form-group">
<label for="inputText1">Nombre(s) y Apellido(s)*</label>
<input type="text" class="form-control" name="nombre" placeholder="">
</div>
<div class="form-group">
<label for="inputEmail1">Dirección de Correo Electrónico*</label>
<input type="email" class="form-control" name="email" placeholder="">
</div>
<div class="form-group">
<label for="textArea1">Mensaje/Consulta/Comentario*</label>
<textarea name="mensaje" class="form-control" rows="6"></textarea>
</div>
<div class="spacer small"></div>
<button type="submit" class="btn btn-lg btn-default btn-large">Enviar</button>
</form>
<div id="respuesta"></div>
</div>
<div class="col-md-6 mg-sm text-left animatez" data-effect="fadeIn">
<h4>
<strong>Soluciones Administrativas Chasafran, C.A.</strong>
</h4>
<div class="spacer small"></div>
<h4><strong>Teléfonos</strong></h4>
<i class="fa fa-phone"></i> (0212)987 7732
<br>
<i class="fa fa-phone"></i> (0212)987 5518
<div class="spacer small"></div>
<h4><strong>Correo Electrónico</strong></h4>
<a href="mailto:achasafran1@gmail.com"><i class="fa fa-envelope"></i> chasafran1@gmail.com</a>
<div class="spacer small"></div>
<h4><strong>Horario de Trabajo</strong></h4>
Lunes a Viernes 8:00am -12m / 1:00pm – 4:00pm 
</div>
</div>
</div>
</div>
<div class="spacer big"></div>
</div>
</section>
<!-- END CONTACT -->
<footer class="footer section-wrapper">
<nav class="footer-nav" role="navigation">
<ul>
<li><a class="sscroll" href="#slides">Inicio</a>
</li>
<li><a class="sscroll" href="#about">Nuestra Empresa</a>
</li>
<li><a class="sscroll" href="#services">Servicios</a>
</li>
<li><a class="sac-en-linea">Condominio en Línea</a>
</li>
<li><a class="sscroll" href="#contact">Contacto</a>
</li>
</ul>
</nav>
<p class="copyright">&copy; 2019 Soluciones Administrativas Chasafran, C.A. RIF.J-40612419-2 Todos los derechos reservados.</p>
<div class="footer-logo">
<span><a href="https://www.pronet21.com.ve" style="color:#a90329;">Página Web</a> Pronet21 &bigstar; <a href="https://www.administracion-condominio.com.ve" target="blank" style="color:#a90329;">Sistema de Administración de Condominios</a> Valoriza2</span>
</div>
<div class="spacer big">

</div>
</footer>

</div>
<!-- END CONTENT SECTION -->
<!---->
</div>
<!-- END OUTTER -->
<div id="mensaje-temp" class="modal fade" data-autoload="true" data-autoload-delay="500">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h2 class="modal-title">Atención! Reconversión Monetaria</h2>
</div>
<div class="modal-body clearfix">
    <!--img class="img-responsive" src="{{constant('ROOT')}}images/promo/mensaje-ecologico.jpg"-->
    <h3>Estimados clientes debido a la reconversión monetaria, a partir del día 15 de agosto nuestro sistema y página web pasarán por un proceso de actualización, por lo cual los invitamos a reportar su pagos a partir del día 21 de agosto del año en curso.</h3>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>
</div>

</div>
</div>
<!-- BACK TO TOP -->
<div class="totop" id="backtotop">
<span>
<a href="#home" class="first sscroll"><i class="fa fa-angle-up"></i></a>
<a href="#home" class="hover sscroll"><i class="fa fa-angle-up"></i></a>
</span>
</div>
<!-- END BACK TO TOP -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{constant('ROOT')}}js/jquery-1.10.2.min.js"></script>
<!-- EXPANDING THUMBNAIL JS -->
<script src="{{constant('ROOT')}}js/lib/grid.js"></script>
<!-- BOOTSTRAP JS -->
<script src="{{constant('ROOT')}}js/bootstrap.min.js"></script>
<!-- SUPER SLIDES JS -->
<script src="{{constant('ROOT')}}js/lib/jquery.superslides.min.js"></script>
<!-- JQUERY BACK TO TOP -->
<script src="{{constant('ROOT')}}js/lib/jquery.backtotop.js"></script>
<!-- JQUERY PARALLAX -->
<script src="{{constant('ROOT')}}js/lib/jquery.parallax.js"></script>
<!-- JQUERY BACKGROUND VIDEO -->
<script src="{{ constant('ROOT')}}js/lib/jquery.backgroundvideo.js"></script>
<!-- JQUERY VENOBOX VIDEO -->
<script src="{{constant('ROOT')}}js/lib/venobox.min.js"></script>
<!-- JQUERY WAYPOINT -->
<script src="{{constant('ROOT')}}js/lib/waypoints.js"></script>
<!-- JQUERY WAYPOINT -->
<script src="{{constant('ROOT')}}js/lib/jquery.countTo.js"></script>
<!-- JQUERY SMOOTH SCROLL -->
<script src="{{constant('ROOT')}}js/lib/jquery.smooth-scroll.min.js"></script>
<!-- JQUERY FITVID -->
<script src="{{constant('ROOT')}}js/lib/jquery.fitvid.js"></script>
<!-- JQUERY MASONRY LAYOUT 
<script src="js/lib/masonry.pkgd.min.js"></script>-->
<!-- JQUERT SUDO SLIDER JS -->
<script src="{{constant('ROOT')}}js/lib/jquery.sudoslider.min.js"></script>
<!-- JQUERY VALIDATE -->
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery-validate/jquery.form.js"></script>
<!-- MAIN JS -->
<script src="{{constant('ROOT')}}js/main.js"></script>
<script src="{{constant('ROOT')}}demo-asset/js/main.js" type="text/javascript"></script>
<script>
/*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-4533943-15', 'auto');
ga('send', 'pageview');
*/
</script>
<script type="text/javascript">
//runAllForms();
$(function() {
$("a.forgot").on("click",function() {
   $("div.box").toggle(); 
   $("div.alert").remove();
});
//mensaje popup 
/*$("#mensaje-temp").modal("toggle");*/
$('#mensaje-temp .forgot-link').click(function() {
    $('.cos-trigger').click()
});
// Validation
$("#forgot-form").validate({
rules: {
    email : {
        required: true,
        email: true
    }
},
messages: {
    required: "Complete este campo por favor.",
    email:"Cuenta de correo inválida."
},
submitHandler: function(form) {

$(form).ajaxSubmit({
target: "#respuesta",
method: "POST",
dataType: "json",
url: "login.php",
resetForm: true,
beforeSubmit: function() {
$("div.alert").remove();
},
success: function(data) {
//<div class="alert alert-warning fade in">
//<button class="close" data-dismiss="alert"> × </button>
if(data.error) {
    $("#forgot-form").after('<div class="alert alert-danger fade in"><button class="close" data-dismiss="alert"> × </button>' + data.error + '</div>');
} 
if(data.success){
    $("#forgot-form").after('<div class="alert alert-success fade in"><button class="close" data-dismiss="alert"> × </button>' + data.success + '</div>');
    //$("#forgot-respuesta").addClass("alert alert-success fade in").append('<button class="close" data-dismiss="alert"> × </button>').append(data.success);
}
},
error: function() {
//$("#forgot-respuesta").fadeIn();
}
});
},
errorPlacement : function(error, element) {
error.insertAfter(element.parent());
}
});
$("#login-form").validate({
rules : {
cedula : {
required : true
},
password : {
required : true,
minlength : 4,
maxlength : 20
}
},
messages : {
cedula : {
required : 'Ingrese código de usuario'
},
password : {
required : 'Ingrese su clave de acceso',
minlength: 'Deben ser mínimo 4 caracteres',
maxlength:  'No pueden ser más de 20 caracteres'
}
},
errorPlacement : function(error, element) {
error.insertAfter(element.parent());
}
});
$(document).on("click", "div.alert", function() {
$(".alert").hide();
$("#contacto").resetForm();
$("#contacto").fadeIn();
});
$("#contacto").validate({
errorClass: "invalid",
rules: {
email: {
required: true,
email: true
},
nombre: {
required: true
},
mensaje: {
required: true
}
},
messages: {
email: {
required: 'Ingrese su correo electrónico',
email: 'Ingrese un correo electrónico válido'
},
nombre: {
required: 'Ingrese su nombre y apellido'
},
mensaje: {
required: 'Escriba su mensaje'
}
},
submitHandler: function(form) {

$(form).ajaxSubmit({
target: "#respuesta",
method: "POST",
url: "includes/enviar_email.php",
resetForm: true,
beforeSubmit: function() {
$("#contacto").hide();
},
success: function() {
$("#respuesta").fadeIn();
},
error: function() {
$("#respuesta").fadeIn();
}
});
},
errorPlacement: function(error, element) {
error.appendTo(element.parent());
}
});
});
</script>
</body>
</html>